<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <p id="msg-status"></p>
    <form action="#" method="post" id="login-form">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <br>
        <label for="pwd">Password</label>
        <input type="password" name="pwd" id="pwd" required>
        <br>
        <input type="submit" id="login-btn" value="Login">
    </form>
    <script src="js/jquery.js"></script>
    <script src="js/login.js"></script>
</body>
</html>